html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.container {
background-color: blue;
}

.jumbotron {
background-image: url("img/background.jpg");
background-color: darkorange;
}

